body {
  background: hsl(175deg 64% 21%);
}

.green-text {
  color: hsl(175deg 64% 21%);
}

.green-text::placeholder {
  color: hsl(175deg 64% 21% / 0.8);
}

.green-text::focus {
  color: hsl(175deg 64% 21%);
}

.yellow-text {
  color: hsl(36deg 100% 73%);
}

.faded-yellow-text {
  color: hsl(36deg 100% 73% / 0.9);
}

.container {
  max-width: 400px;
}

h1 {
  font-size: 2.2rem;
}

.time-icon {
  position: relative;
  top: -50px;
  border-radius: 50%;
  width: 100px;
  margin-bottom: -50px;
}